<section class="thirteen columns">
    <h1>Lorem</h1>
    <article>
        <header>
            <h1> Lorem</h1>
            <span>E.E. Leonor Quadros</span>
            <span><address>São Paulo, SP</address><time>Lorem</time></span>
        </header>
        
    </article>
  
    <h1>Lorem</h1>
    <article>
        <header>
            <h1>Tecnologia em Banco de Dados</h1>
            <span>Universidade Nove de Julho</span>
            <span><address>São Paulo, SP</address><time>2016 para 2018</time></span>
        </header>
        <p>
            <em></em>
        </p>
    </article>
</section>
